/* Dropdown Button */
.dropdown-search-btn {
  color: black;
  width: 6rem;
  font-size: 1.3rem;
  padding: 0.6rem 0rem;
  text-align: center;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
  background-color: white;
}

/* Dropdown button on hover & focus */
.dropdown-search-btn:hover, 
.dropdown-search-btn:focus {
  background-color: var(--login-color);
  color: white;
  outline: none;
}

/* The search field */
.dropdown-search-input {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px dotted #868686;
}

/* The search field when it gets focus/clicked on */
.dropdown-search-input:focus {
  outline: 2px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-search {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-search-content-div {
  display: none;
  position: absolute;
  color: black;
  font-size: 1.4rem;
  max-height: 17rem;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f6f6f6;
  width: 20rem;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-search-content-div button {
  color: black;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
}
.dropdown-search-content-div button:hover ,
.dropdown-search-content-div button:focus {
  background-color: rgb(158, 146, 212);
  outline: none;
  font-weight: 500;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}