/* @font-face {
    font-family: adrip;
    src: url(../fonts/adrip1.woff2);
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: typo;
    src: url(../fonts/typo.woff2);
    font-display: swap;
}
@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat-regular.woff2);
    font-display: swap;
} */
#sign-up {
  position: relative;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  display: grid;
}
#sign-up-left-banner {
  background-image: url('./img/circuit.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 100%;
  /* height: 100%; */
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.288);
  z-index: 5;
}
#sign-up-left-banner-strip {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50vh;
  transform: translateY(-40%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.705);
}
#odin-logo {
  height: 10rem;
  width: auto;
  margin: 2rem 0rem 2rem 3rem;
}
#sign-up-left-banner-strip h1 {
  font-family: poppins, system-ui, sans-serif;
  font-size: clamp(7rem, (1rem + 10vw), 7rem);
  color: var(--red);
  text-align: center;
  font-weight: 400;
  margin-right: 3rem;
  text-shadow: 2.5px 2.5px 2px #250a0ac9;
}






/* wrap text after 66 characters to improve readability */
/* #sign-up .content p {
  width: clamp(45ch, 80vw, 75ch);
  margin: 0px auto;
  max-inline-size: clamp(45ch, 70ch, 75ch);
  padding: 5px 50px;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  text-indent: 3ch;
} */

#sign-up-main-container {
  width: 100%;
  position: relative;
}
#sign-up-main-info-top {
  padding: 4.5rem 15rem 4.5rem 4.5rem;
  line-height: 1.8;
  width: 100%;
  background-color: #e5f1ff;
  color: rgb(79, 81, 99);
}
#sign-up-main-info-top h2 {
  font-family: poppins, sans-serif;
  font-size: 2.1rem;
  text-wrap: pretty;
  font-weight: 600;
}


#sign-up-form-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f6f9fd;
}
#sign-up-main-info h2 {
  font-size: 2.1rem;
  font-weight: 600;
  padding: 3.2rem 0rem 2.7rem 3rem;
  background-color: #f6f9fd;
  color: rgb(64, 54, 87);
}
#sign-up-main-info .left {
  width: 100%;
}
#sign-up-main-info .right {
  width: 100%;
}

#sign-up label {
  color: rgb(64, 54, 87);
  display: block;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 0.1rem;
  font-size: 1.4rem;
  font-weight: 700;
}
#sign-up input {
  width: 80%;
  font-size: 1.4rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 10%;
  padding: 0.5rem 1rem;
  margin-bottom: 2.3rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.151);
}


#sign-up-submit-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fd;
}

#sign-up-submit-btn {
  margin: 1.5rem 0rem 3.5rem 0rem;
  width: 170px;
  padding: 0.6rem 3rem;
  outline: 2px solid black;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: poppins, sans-serif;
  box-shadow: 3px 3px 5px black;
  background-color: var(--login-color);
  color: rgb(255, 255, 255);
}
#sign-up-submit-btn:hover,
#sign-up-submit-btn:focus {
  font-weight: 600;
  box-shadow: 5px 5px 7px black;
}




#sign-up input:invalid {
  color: var(--h1-col);
  outline: 2px solid rgba(255, 0, 0, 0.589);
}

#sign-up input:valid {
  outline: 2px solid rgb(0, 139, 133);
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.24);
}
#sign-up input:placeholder-shown {
  outline: none;
}
#sign-up input:focus {
  outline: 2px solid rgba(0, 0, 255, 0.589);
}



#sign-up #main-info-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 4.5rem;
  background-color: #b4c0d4;
}
#sign-up .login {
  color: black;
  font-family: poppins, sans-serif;
  font-size: 1.6rem;
  
}
#sign-up #sign-up-login {
  color: black;
  font-size: 1.8rem;
  text-decoration: underline;
  margin-left: 1rem;
}
#sign-up #sign-up-login:hover,
#sign-up #sign-up-login:focus {
  color: blue;
  font-weight: 600;
}

